.titulo{
    color: hotpink;
    width: 288px;
    height: 50px;
    background-color: green;
}
#selecionar-mascotas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tarjeta-de-mokepon{
    width: 100px;
    height: 100px;
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid hotpink;
}
input{
    display: none;
}
#boton-mascota{
    height: 50px;
    width: 150px;
    background-color: brown;
    margin: 10px;
    border: 5px solid black;

}