@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    font-family: 'Press Start 2P', cursive;
    background-color: #001253;
}
#selecionar-mascotas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    color: white;
    width: 300px;
    height: 50px;
    font-size: 40px;
}
.subtitulo{
    color: white;
    font-size: 20px;
}

.tarjetas{
    display: flex;
    gap: 10px;

}
.tarjeta-de-mokepon{
    color: white;
    width: 2200;
    height: 160px;
    background: #678983;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.tarjeta-de-mokepon img {
    width: 80px;
}
input{
    display: none;
}
