.titulo{
    color: hotpink;
    width: 288px;
    height: 50px;
    background-color: green;
}
label{
    background-color: blue;
    width: 288px;
    height: 50;
}
input{
    background-color: purple;
    width: 288px;
    height: 50;
}
button{
    background-color: crimson;
    width: 288px;
    height: 50;
}